<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.braveg.chart.ChartMapper">

    <select id="getTodayRankList" resultType="HashMap">
        SELECT A.site, A.title , A.ranking, DR.ranking AS yRanking, (DR.ranking - A.ranking) AS cRanking
        FROM TODAY_RANK A
        LEFT OUTER JOIN DATE_RANK DR
        ON A.SITE  = DR.SITE
        AND A.TITLE = DR.TITLE
        AND DR.SDATE  =  DATE_FORMAT(DATE_ADD(NOW(), interval -1 day),'%Y%m%d')
        WHERE STIME = DATE_FORMAT(NOW(),'%H')
        ORDER BY A.SITE, A.RANKING*1
    </select>
    <!--    매시간별 순위 LIST
    <select id="getTodayRankList" resultType="HashMap">
        SELECT *
        FROM TODAY_RANK
        WHERE stime = DATE_FORMAT(NOW(),'%H')
        ORDER BY site, ranking*1
    </select> -->
    <!--    일일 순위 LIST    -->
    <select id="getDateRankList" resultType="HashMap">
        SELECT *
        FROM DATE_RANK
        WHERE sdate = DATE_FORMAT(NOW(),'%Y%m%d')
        ORDER BY site, ranking*1
    </select>

    <!--    하루 순위 LIST    -->
    <select id="getYstDayRankList" resultType="HashMap">
        SELECT *
        FROM DATE_RANK
        WHERE sdate = DATE_FORMAT(date_add(NOW(), interval -1 day),'%Y%m%d')
        ORDER BY site, ranking*1
    </select>
    <!--    매시간별 순위    -->
    <insert id="insertEachHour" parameterType="com.braveg.chart.ChartDto">
        INSERT INTO TODAY_RANK (site, title, stime, ranking)
        VALUES ( #{site}, #{title}, date_format(now(), '%H'), #{ranking} )
        ON DUPLICATE KEY UPDATE
        ranking = #{ranking}
    </insert>
    <!--    일일 순위    -->
    <insert id="insertDate" parameterType="com.braveg.chart.ChartDto">
        INSERT INTO DATE_RANK(site, title, sdate, ranking)
        VALUES ( #{site}, #{title}, DATE_FORMAT(now(),'%Y%m%d'), #{ranking} )
    </insert>
    <!--    초기화    -->
    <delete id="resetEachHour">
        DELETE FROM TODAY_RANK
    </delete>
    <!--  일간 추이  -->
    <select id="dailyRankVariation" parameterType="com.braveg.chart.ChartDto" resultType="com.braveg.chart.ChartDto">
       SELECT stime, ranking
       FROM TODAY_RANK
       WHERE SITE = #{site} and title = #{title}
       order by stime
    </select>
    <!--  월간 추이  -->
    <select id="monthlyRankVariation" parameterType="com.braveg.chart.ChartDto" resultType="com.braveg.chart.ChartDto">
        SELECT
               DATE_FORMAT(TEMT.SDATE, '%m-%d') AS SDATE
             , TEMT.TITLE
             , C.RANKING
        FROM
        (
            SELECT A.TITLE, B.SDATE FROM
            (SELECT TITLE FROM DATE_RANK WHERE SITE = #{site} GROUP BY TITLE) A ,
            ( SELECT SDATE  FROM DATE_RANK  GROUP BY SDATE) B
        ) TEMT
        LEFT OUTER JOIN (SELECT * FROM DATE_RANK WHERE SITE = #{site}) C
        ON TEMT.TITLE = C.TITLE
        AND TEMT.SDATE = C.SDATE
        <![CDATA[
        WHERE DATE_FORMAT(TEMT.SDATE, '%Y%m%d') > DATE_FORMAT(DATE_ADD(NOW(), interval -30 day),'%Y%m%d')
        ]]>
    </select>

    <!-- 사이트별 순위,,그래프그리기,,, LIST    -->
    <select id="getRankForGraphList" resultType="HashMap">
        SELECT *
        FROM DATE_RANK
        where site = #{site}
        ORDER BY site, title, sdate;
    </select>

<!--    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    -->
        <insert id="insertVisitor" parameterType="com.braveg.chart.VisitDto">
        INSERT INTO VISITOR (
            VISIT_ID,
            VISIT_IP,
            VISIT_TIME,
            VISIT_REFER,
            VISIT_AGENT
        )
        SELECT
                CASE COUNT(*) WHEN 0 THEN 1 ELSE COUNT(*)+1 END AS VISIT_ID
            ,   #{visit_ip} AS VISIT_IP
            ,   DATE_FORMAT(now(), '%Y%m%d%H%i%s') AS VISIT_TIME
            ,   #{visit_refer} AS VISIT_REFER
            ,   #{visit_agent} AS VISIT_AGENT
        FROM VISITOR
    </insert>
    <!--   일간 방문자   -->
    <select id="getTodayCnt" resultType="Integer">
        SELECT
            CASE COUNT(*) WHEN 0 THEN 1 ELSE COUNT(*) END AS VISIT_ID
        FROM VISITOR
        WHERE DATE_FORMAT(VISIT_TIME, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
    </select>
    <!--  전체 방문자  -->
    <select id="getTotalCnt" resultType="Integer">
        SELECT
            CASE COUNT(*) WHEN 0 THEN 1 ELSE COUNT(*) END AS VISIT_ID
        FROM VISITOR
    </select>


</mapper>
