.m_0 {margin:0 !important;}
.p_0 {padding:0 !important;}

.mt_5 {margin-top:5px !important;}
.mt_10 {margin-top:10px !important;}
.mt_15 {margin-top:15px !important;}
.mt_20 {margin-top:20px !important;}
.mt_25 {margin-top:25px !important;}
.mt_30 {margin-top:30px !important;}
.mt_35 {margin-top:35px !important;}
.mt_40 {margin-top:40px !important;}
.mt_45 {margin-top:45px !important;}
.mt_50 {margin-top:50px !important;}
.mt_55 {margin-top:55px !important;}
.mt_60 {margin-top:60px !important;}
.mt_65 {margin-top:65px !important;}
.mt_70 {margin-top:70px !important;}
.mt_75 {margin-top:75px !important;}
.mt_80 {margin-top:80px !important;}
.mt_85 {margin-top:85px !important;}
.mt_90 {margin-top:90px !important;}
.mt_95 {margin-top:95px !important;}
.mt_100 {margin-top:100px !important;}

.mr_5 {margin-right:5px !important;}
.mr_10 {margin-right:10px !important;}
.mr_15 {margin-right:15px !important;}
.mr_20 {margin-right:20px !important;}
.mr_25 {margin-right:25px !important;}
.mr_30 {margin-right:30px !important;}
.mr_35 {margin-right:35px !important;}
.mr_40 {margin-right:40px !important;}
.mr_45 {margin-right:45px !important;}
.mr_50 {margin-right:50px !important;}
.mr_55 {margin-right:55px !important;}
.mr_60 {margin-right:60px !important;}
.mr_65 {margin-right:65px !important;}
.mr_70 {margin-right:70px !important;}
.mr_75 {margin-right:75px !important;}
.mr_80 {margin-right:80px !important;}
.mr_85 {margin-right:85px !important;}
.mr_90 {margin-right:90px !important;}
.mr_95 {margin-right:95px !important;}
.mr_100 {margin-right:100px !important;}

.mb_5 {margin-bottom:5px !important;}
.mb_10 {margin-bottom:10px !important;}
.mb_15 {margin-bottom:15px !important;}
.mb_20 {margin-bottom:20px !important;}
.mb_25 {margin-bottom:25px !important;}
.mb_30 {margin-bottom:30px !important;}
.mb_35 {margin-bottom:35px !important;}
.mb_40 {margin-bottom:40px !important;}
.mb_45 {margin-bottom:45px !important;}
.mb_50 {margin-bottom:50px !important;}
.mb_55 {margin-bottom:55px !important;}
.mb_60 {margin-bottom:60px !important;}
.mb_65 {margin-bottom:65px !important;}
.mb_70 {margin-bottom:70px !important;}
.mb_75 {margin-bottom:75px !important;}
.mb_80 {margin-bottom:80px !important;}
.mb_85 {margin-bottom:85px !important;}
.mb_90 {margin-bottom:90px !important;}
.mb_95 {margin-bottom:95px !important;}
.mb_100 {margin-bottom:100px !important;}

.ml_5 {margin-left:5px !important;}
.ml_10 {margin-left:10px !important;}
.ml_15 {margin-left:15px !important;}
.ml_20 {margin-left:20px !important;}
.ml_25 {margin-left:25px !important;}
.ml_30 {margin-left:30px !important;}
.ml_35 {margin-left:35px !important;}
.ml_40 {margin-left:40px !important;}
.ml_45 {margin-left:45px !important;}
.ml_50 {margin-left:50px !important;}
.ml_55 {margin-left:55px !important;}
.ml_60 {margin-left:60px !important;}
.ml_65 {margin-left:65px !important;}
.ml_70 {margin-left:70px !important;}
.ml_75 {margin-left:75px !important;}
.ml_80 {margin-left:80px !important;}
.ml_85 {margin-left:85px !important;}
.ml_90 {margin-left:90px !important;}
.ml_95 {margin-left:95px !important;}
.ml_100 {margin-left:100px !important;}

.pt_5 {padding-top:5px !important;}
.pt_10 {padding-top:10px !important;}
.pt_15 {padding-top:15px !important;}
.pt_20 {padding-top:20px !important;}
.pt_25 {padding-top:25px !important;}
.pt_30 {padding-top:30px !important;}
.pt_35 {padding-top:35px !important;}
.pt_40 {padding-top:40px !important;}
.pt_45 {padding-top:45px !important;}
.pt_50 {padding-top:50px !important;}
.pt_55 {padding-top:55px !important;}
.pt_60 {padding-top:60px !important;}
.pt_65 {padding-top:65px !important;}
.pt_70 {padding-top:70px !important;}
.pt_75 {padding-top:75px !important;}
.pt_80 {padding-top:80px !important;}
.pt_85 {padding-top:85px !important;}
.pt_90 {padding-top:90px !important;}
.pt_95 {padding-top:95px !important;}
.pt_100 {padding-top:100px !important;}

.pr_5 {padding-right:5px !important;}
.pr_10 {padding-right:10px !important;}
.pr_15 {padding-right:15px !important;}
.pr_20 {padding-right:20px !important;}
.pr_25 {padding-right:25px !important;}
.pr_30 {padding-right:30px !important;}
.pr_35 {padding-right:35px !important;}
.pr_40 {padding-right:40px !important;}
.pr_45 {padding-right:45px !important;}
.pr_50 {padding-right:50px !important;}
.pr_55 {padding-right:55px !important;}
.pr_60 {padding-right:60px !important;}
.pr_65 {padding-right:65px !important;}
.pr_70 {padding-right:70px !important;}
.pr_75 {padding-right:75px !important;}
.pr_80 {padding-right:80px !important;}
.pr_85 {padding-right:85px !important;}
.pr_90 {padding-right:90px !important;}
.pr_95 {padding-right:95px !important;}
.pr_100 {padding-right:100px !important;}

.pb_5 {padding-bottom:5px !important;}
.pb_10 {padding-bottom:10px !important;}
.pb_15 {padding-bottom:15px !important;}
.pb_20 {padding-bottom:20px !important;}
.pb_25 {padding-bottom:25px !important;}
.pb_30 {padding-bottom:30px !important;}
.pb_35 {padding-bottom:35px !important;}
.pb_40 {padding-bottom:40px !important;}
.pb_45 {padding-bottom:45px !important;}
.pb_50 {padding-bottom:50px !important;}
.pb_55 {padding-bottom:55px !important;}
.pb_60 {padding-bottom:60px !important;}
.pb_65 {padding-bottom:65px !important;}
.pb_70 {padding-bottom:70px !important;}
.pb_75 {padding-bottom:75px !important;}
.pb_80 {padding-bottom:80px !important;}
.pb_85 {padding-bottom:85px !important;}
.pb_90 {padding-bottom:90px !important;}
.pb_95 {padding-bottom:95px !important;}
.pb_100 {padding-bottom:100px !important;}

.pl_5 {padding-left:5px !important;}
.pl_10 {padding-left:10px !important;}
.pl_15 {padding-left:15px !important;}
.pl_20 {padding-left:20px !important;}
.pl_25 {padding-left:25px !important;}
.pl_30 {padding-left:30px !important;}
.pl_35 {padding-left:35px !important;}
.pl_40 {padding-left:40px !important;}
.pl_45 {padding-left:45px !important;}
.pl_50 {padding-left:50px !important;}
.pl_55 {padding-left:55px !important;}
.pl_60 {padding-left:60px !important;}
.pl_65 {padding-left:65px !important;}
.pl_70 {padding-left:70px !important;}
.pl_75 {padding-left:75px !important;}
.pl_80 {padding-left:80px !important;}
.pl_85 {padding-left:85px !important;}
.pl_90 {padding-left:90px !important;}
.pl_95 {padding-left:95px !important;}
.pl_100 {padding-left:100px !important;}

.pd_5 {padding:5px !important;}
.pd_10 {padding:10px !important;}
.pd_15 {padding:15px !important;}
.pd_20 {padding:20px !important;}
.pd_25 {padding:25px !important;}
.pd_30 {padding:30px !important;}
.pd_35 {padding:35px !important;}
.pd_40 {padding:40px !important;}
.pd_45 {padding:45px !important;}
.pd_50 {padding:50px !important;}
.pd_55 {padding:55px !important;}
.pd_60 {padding:60px !important;}
.pd_65 {padding:65px !important;}
.pd_70 {padding:70px !important;}
.pd_75 {padding:75px !important;}
.pd_80 {padding:80px !important;}
.pd_85 {padding:85px !important;}
.pd_90 {padding:90px !important;}
.pd_95 {padding:95px !important;}
.pd_100 {padding:100px !important;}

.mg_5 {margin:5px !important;}
.mg_10 {margin:10px !important;}
.mg_15 {margin:15px !important;}
.mg_20 {margin:20px !important;}
.mg_25 {margin:25px !important;}
.mg_30 {margin:30px !important;}
.mg_35 {margin:35px !important;}
.mg_40 {margin:40px !important;}
.mg_45 {margin:45px !important;}
.mg_50 {margin:50px !important;}
.mg_55 {margin:55px !important;}
.mg_60 {margin:60px !important;}
.mg_65 {margin:65px !important;}
.mg_70 {margin:70px !important;}
.mg_75 {margin:75px !important;}
.mg_80 {margin:80px !important;}
.mg_85 {margin:85px !important;}
.mg_90 {margin:90px !important;}
.mg_95 {margin:95px !important;}
.mg_100 {margin:100px !important;}

.w_10 {width:10px !important;}
.w_20 {width:20px !important;}
.w_30 {width:30px !important;}
.w_40 {width:40px !important;}
.w_45 {width:45px !important;}
.w_50 {width:50px !important;}
.w_60 {width:60px !important;}
.w_70 {width:70px !important;}
.w_80 {width:80px !important;}
.w_90 {width:90px !important;}
.w_100 {width:100px !important;}
.w_110 {width:110px !important;}
.w_120 {width:120px !important;}
.w_130 {width:130px !important;}
.w_140 {width:140px !important;}
.w_150 {width:150px !important;}
.w_160 {width:160px !important;}
.w_170 {width:170px !important;}
.w_180 {width:180px !important;}
.w_190 {width:190px !important;}
.w_200 {width:200px !important;}
.w_210 {width:210px !important;}
.w_220 {width:220px !important;}
.w_230 {width:230px !important;}
.w_240 {width:240px !important;}
.w_250 {width:250px !important;}
.w_260 {width:260px !important;}
.w_270 {width:270px !important;}
.w_280 {width:280px !important;}
.w_290 {width:290px !important;}
.w_300 {width:300px !important;}
.w_310 {width:310px !important;}
.w_320 {width:320px !important;}
.w_330 {width:330px !important;}
.w_340 {width:340px !important;}
.w_350 {width:350px !important;}
.w_360 {width:360px !important;}
.w_370 {width:370px !important;}
.w_380 {width:380px !important;}
.w_390 {width:390px !important;}
.w_400 {width:400px !important;}
.w_410 {width:410px !important;}
.w_420 {width:420px !important;}
.w_430 {width:430px !important;}
.w_440 {width:440px !important;}
.w_450 {width:450px !important;}
.w_460 {width:460px !important;}
.w_470 {width:470px !important;}
.w_480 {width:480px !important;}
.w_490 {width:490px !important;}
.w_500 {width:500px !important;}
.w_510 {width:510px !important;}
.w_520 {width:520px !important;}
.w_530 {width:530px !important;}
.w_540 {width:540px !important;}
.w_550 {width:550px !important;}
.w_560 {width:560px !important;}
.w_570 {width:570px !important;}
.w_580 {width:580px !important;}
.w_590 {width:590px !important;}
.w_600 {width:600px !important;}
.w_600 {width:600px !important;}
.w_610 {width:610px !important;}
.w_620 {width:620px !important;}
.w_630 {width:630px !important;}
.w_640 {width:640px !important;}
.w_650 {width:650px !important;}
.w_660 {width:660px !important;}
.w_670 {width:670px !important;}
.w_680 {width:680px !important;}
.w_690 {width:690px !important;}
.w_700 {width:700px !important;}

.h_10 {height:10px !important;}
.h_20 {height:20px !important;}
.h_30 {height:30px !important;}
.h_40 {height:40px !important;}
.h_50 {height:50px !important;}
.h_60 {height:60px !important;}
.h_70 {height:70px !important;}
.h_80 {height:80px !important;}
.h_90 {height:90px !important;}
.h_100 {height:100px !important;}
.h_110 {height:110px !important;}
.h_120 {height:120px !important;}
.h_130 {height:130px !important;}
.h_140 {height:140px !important;}
.h_150 {height:150px !important;}
.h_160 {height:160px !important;}
.h_170 {height:170px !important;}
.h_180 {height:180px !important;}
.h_190 {height:190px !important;}
.h_200 {height:200px !important;}
.h_210 {height:210px !important;}
.h_220 {height:220px !important;}
.h_230 {height:230px !important;}
.h_240 {height:240px !important;}
.h_250 {height:250px !important;}
.h_260 {height:260px !important;}
.h_270 {height:270px !important;}
.h_280 {height:280px !important;}
.h_290 {height:290px !important;}
.h_300 {height:300px !important;}
.h_310 {height:310px !important;}
.h_320 {height:320px !important;}
.h_330 {height:330px !important;}
.h_340 {height:340px !important;}
.h_350 {height:350px !important;}
.h_360 {height:360px !important;}
.h_370 {height:370px !important;}
.h_380 {height:380px !important;}
.h_390 {height:390px !important;}
.h_400 {height:400px !important;}
.h_410 {height:410px !important;}
.h_420 {height:420px !important;}
.h_430 {height:430px !important;}
.h_440 {height:440px !important;}
.h_450 {height:450px !important;}
.h_460 {height:460px !important;}
.h_470 {height:470px !important;}
.h_480 {height:480px !important;}
.h_490 {height:490px !important;}
.h_500 {height:500px !important;}
.h_510 {height:510px !important;}
.h_520 {height:520px !important;}
.h_530 {height:530px !important;}
.h_540 {height:540px !important;}
.h_550 {height:550px !important;}
.h_560 {height:560px !important;}
.h_570 {height:570px !important;}
.h_580 {height:580px !important;}
.h_590 {height:590px !important;}
.h_600 {height:600px !important;}

.wp_10 {width:10% !important;}
.wp_20 {width:20% !important;}
.wp_30 {width:30% !important;}
.wp_40 {width:40% !important;}
.wp_45 {width:45% !important;}
.wp_50 {width:50% !important;}
.wp_60 {width:60% !important;}
.wp_70 {width:70% !important;}
.wp_80 {width:80% !important;}
.wp_90 {width:90% !important;}
.wp_100 {width:100% !important;}


.scroll_10 {overflow-y:scroll; height:10px !important;}
.scroll_20 {overflow-y:scroll; height:20px !important;}
.scroll_30 {overflow-y:scroll; height:30px !important;}
.scroll_40 {overflow-y:scroll; height:40px !important;}
.scroll_50 {overflow-y:scroll; height:50px !important;}
.scroll_60 {overflow-y:scroll; height:60px !important;}
.scroll_70 {overflow-y:scroll; height:70px !important;}
.scroll_80 {overflow-y:scroll; height:80px !important;}
.scroll_90 {overflow-y:scroll; height:90px !important;}
.scroll_100 {overflow-y:scroll; height:100px !important;}
.scroll_110 {overflow-y:scroll; height:110px !important;}
.scroll_120 {overflow-y:scroll; height:120px !important;}
.scroll_130 {overflow-y:scroll; height:130px !important;}
.scroll_140 {overflow-y:scroll; height:140px !important;}
.scroll_150 {overflow-y:scroll; height:150px !important;}
.scroll_160 {overflow-y:scroll; height:160px !important;}
.scroll_170 {overflow-y:scroll; height:170px !important;}
.scroll_180 {overflow-y:scroll; height:180px !important;}
.scroll_190 {overflow-y:scroll; height:190px !important;}
.scroll_200 {overflow-y:scroll; height:200px !important;}
.scroll_210 {overflow-y:scroll; height:210px !important;}
.scroll_220 {overflow-y:scroll; height:220px !important;}
.scroll_230 {overflow-y:scroll; height:230px !important;}
.scroll_240 {overflow-y:scroll; height:240px !important;}
.scroll_250 {overflow-y:scroll; height:250px !important;}
.scroll_260 {overflow-y:scroll; height:260px !important;}
.scroll_270 {overflow-y:scroll; height:270px !important;}
.scroll_280 {overflow-y:scroll; height:280px !important;}
.scroll_290 {overflow-y:scroll; height:290px !important;}
.scroll_300 {overflow-y:scroll; height:300px !important;}
.scroll_310 {overflow-y:scroll; height:310px !important;}
.scroll_320 {overflow-y:scroll; height:320px !important;}
.scroll_330 {overflow-y:scroll; height:330px !important;}
.scroll_340 {overflow-y:scroll; height:340px !important;}
.scroll_350 {overflow-y:scroll; height:350px !important;}
.scroll_360 {overflow-y:scroll; height:360px !important;}
.scroll_370 {overflow-y:scroll; height:370px !important;}
.scroll_380 {overflow-y:scroll; height:380px !important;}
.scroll_390 {overflow-y:scroll; height:390px !important;}
.scroll_400 {overflow-y:scroll; height:400px !important;}
.scroll_410 {overflow-y:scroll; height:410px !important;}
.scroll_420 {overflow-y:scroll; height:420px !important;}
.scroll_430 {overflow-y:scroll; height:430px !important;}
.scroll_440 {overflow-y:scroll; height:440px !important;}
.scroll_450 {overflow-y:scroll; height:450px !important;}
.scroll_460 {overflow-y:scroll; height:460px !important;}
.scroll_470 {overflow-y:scroll; height:470px !important;}
.scroll_480 {overflow-y:scroll; height:480px !important;}
.scroll_490 {overflow-y:scroll; height:490px !important;}
.scroll_500 {overflow-y:scroll; height:500px !important;}
.scroll_510 {overflow-y:scroll; height:510px !important;}
.scroll_520 {overflow-y:scroll; height:520px !important;}
.scroll_530 {overflow-y:scroll; height:530px !important;}
.scroll_540 {overflow-y:scroll; height:540px !important;}
.scroll_550 {overflow-y:scroll; height:550px !important;}
.scroll_560 {overflow-y:scroll; height:560px !important;}
.scroll_570 {overflow-y:scroll; height:570px !important;}
.scroll_580 {overflow-y:scroll; height:580px !important;}
.scroll_590 {overflow-y:scroll; height:590px !important;}
.scroll_600 {overflow-y:scroll; height:600px !important;}
